@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

header{
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p{
    color:rgb(255, 255, 255);
    
}

body{
    background-color: #24252A;
    margin: 20px 20%;
    font-family: sans-serif;
}

.box{
    float: left;
    width: 200px;
    height: 200px;
    font-size: 20px;
    text-align: center;
    padding: 3%;
    font-family: "Montserrat", "sans-serif";
    color: gold;
}
.box a{
    color: gold;
}

h1{
    color: rgb(18, 10, 73);
    font-family: "Montserrat", "sans-serif";
}

h2{
    color:rgb(164, 134, 35);
    font-family: "Montserrat", "sans-serif";
    font-weight: 500;
    font-size: 16px;
    font-style: italic;
}

h3{
    color:rgb(235, 117, 28)
}

.navbar ul{
    list-style-type: none;
}


.navbar li a{
    transition: all 0.3s ease 0s;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    text-decoration: none;
    padding: 15px;
}

.navbar li a:hover{
    color:#3e348a;
}

.navbar li{
    float: right;
    font-family: "Montserrat", "sans-serif";
}

.titel{
    color: gold;
    font-size: 20px;
    font-family: "Montserrat", "sans-serif";
}